* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: hsl(210, 61%, 40%);
    --primary-light: hsl(184, 84%, 51%);
    --max-width: 100%;
    --secondary-color: #ff8d30;
    --text-light: #6b7280;
    --extra-light: #f5f5f5;
    --text-dark: #212121;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 73px;
    /* Adjust this value to match the height of your nav */
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color-dark);
    /* for browsers that do not support gradient */
    background-image: linear-gradient(90deg, rgba(0, 212, 255, 1), rgba(119, 69, 210, 1));
    z-index: 100;
    /* Adjusted z-index to ensure it stays on top */
}

.nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_content .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

.nav_content .logo a img {
    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav #check {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--extra-light);
    cursor: pointer;
}

.nav_content ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    margin: 0 auto;
}

.nav_content ul li a {
    border: solid transparent;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    transition: left 0.3s;
}

ul li a:hover {
    border-bottom-color: var(--primary-light);
    color: var(--primary-light);
}

#signoutbtn {
    cursor: pointer;
}

section {
    min-height: 100vh;
    background-color: var(--extra-light);
    margin: 1rem;
}

#message-container {
    min-width: 20rem;
    max-width: 60rem;
    margin: auto;
}

.title-input,
.textarea {
    border: 0.5px solid transparent;
    border-radius: 10px;
    background-color: #dfdfdfdd;
    color: #0e0e0ef8;
    font-weight: 10000;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 100%;
    resize: none;
}

.title-input {
    font-weight: bolder;
    margin-bottom: 1rem;
    padding: 1em;
    outline: none;
    font-family: sans-serif;
    height: 2rem;
    transition: all 0.2s;
}

.textarea {
    padding: 1rem 3.5rem 1rem 1rem;
    outline: none;
    font-family: sans-serif;
    height: 6rem;
    transition: all 0.2s;
    font-size: 1rem;
}

.textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.textarea:focus {
    cursor: text;
}

.below-subj {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    margin-top: 5px;
}

#display-image {
    position: relative;
    /* Add this to make remove-image relative to display-image */
}

.image-container {
    margin-top: 10px;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.image {
    width: 10rem;
    height: 100%;
    border: solid 2px black;
    margin: 0;
    padding: 0;
}

.remove-image {
    position: absolute;
    left: 0;
    top: 1;
    z-index: 1;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

#close {
    color: #1f2937;
    background-color: #cbe1ff;
    width: 1.5rem;
}

#close:hover {
    cursor: pointer;
    color: red;
}

.btn {
    width: 5rem;
    padding: 5px;
    font-size: 15px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#file {
    font-size: 2rem;
    cursor: pointer;
    color: #1f2937;
}

#personal-container {
    display: flex;
    /* Make it a flex container */
    flex-direction: column;
    /* Align items vertically / this is like a block covers entire line per element */
    align-items: center;
    /* Center items horizontally */
}

.user-posts {
    margin-top: 1rem;
    background-color: #eeeeee;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 42rem;
    min-height: 10rem;
    margin-bottom: 1rem;
    gap: 10px;
    position: relative;
    /* Ensure position is relative */
    justify-content: space-between;
    /* Add this line */
}

.user-posts h1 {
    border-bottom: 1.5px solid #1f2937;
}

.user-posts .content {
    line-height: 1.4;
    color: var(--text-dark);
    font-size: 12pt;
    margin-left: 1rem;
}


.user-posts img {
    align-self: center;
    /* Center the image horizontally */
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    min-height: 12rem;
    max-height: 20rem;
}


.userid-container {

    position: relative;
    margin-top: auto;
    /* Push the userid-container to the bottom // pushes the top*/
    padding: 10px;
    /* Adjust padding as needed */
    border-radius: 0 0 10px 10px;
    /* Rounded corners for the bottom */
}

.userid-container p {
    bottom: 0;
    right: 0;
    position: absolute;
    color: white;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    font-size: 10pt;
    display: inline;
    background-color: var(--primary-color);
}


.comment-btn {
    border: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.outer-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 42rem;

}

.outer-post .complete-btn {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-left: auto;
    float: right;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 800px) {


    #message-container {
        width: 100%;
        max-width: 40em;
    }

    .title-input,
    .textarea {
        max-width: 40em;

    }
    .outer-post {
        max-width: 40em;

    }
    .user-posts {
        max-width: 100%;
    }

    .user-posts img {
        width: 100%;
    }

    

    .outer-post .complete-btn {
        float: right;
    }

}

@media (max-width: 430px) {
    nav .checkbox {
        display: flex;
        justify-content: end;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 73px);
        left: -100%;
        top: 73px;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    .user-posts {

        max-width: 22rem;
    }
}