* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: hsl(210, 61%, 40%);
    --primary-light: hsl(184, 84%, 51%);
    --max-width: 100%;
    --secondary-color: #ff8d30;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #f5f5f5;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color-dark); /* for browsers that do not support gradient */
    background-image: linear-gradient(90deg, rgba(0,212,255,1), rgba(119,69,210,1));
    z-index: 0;
}

.nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: .5rem 1rem;
    display: flex; /* Added flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and nav items */
}

.nav_content .logo {
    display: inline-block;
}

.nav_content .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

.nav_content .logo a img {
    width: 3rem;
    height: 3rem;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav #check {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--extra-light);
    cursor: pointer;
}

.nav_content ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    margin: 0 auto; /* Center the ul within the nav  top right bottom left */
}

.nav_content ul li a {
    border: solid transparent; 
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    transition: left 0.3s;
}

ul li a:hover {
    border-bottom-color: var(--primary-light);
    color: var(--primary-light);
}

#signoutbtn {
    cursor: pointer;
}    

section {
    min-height: 100vh;
    background-color: var(--extra-light);
}

#message-container { 
    min-width: 30rem;
    max-width: 90rem; /* Adjusted to be larger than min-width */
    width: 100%; /* Ensures it is responsive within the allowed range */
    height: 99; 
    margin: auto; /* Centers the container */    
    padding-top: 100px;
  
    
}

.title-input, .textarea {
    border: 0.5px solid transparent;
    border-radius: 10px;
    background-color: #dfdfdfdd;
    color: #0e0e0ef8;   
    font-weight: 10000;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 100%;
}

.title-input {  
    margin-bottom: 1rem;
   padding: 1em;
    outline: none; /* when on click border outline will not appear */
    font-family: sans-serif;
    height: 2rem;
    transition: all 0.2s;
}


.textarea {    
    padding: 1rem 3.5rem 1rem 1rem; /**  top right bottom left **/    
    outline: none; /* when on click border outline will not appear */
    font-family: sans-serif;   
    height: 6rem;
    transition: all 0.2s;   
}

.textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.textarea:focus {
    cursor: text;
}

#close {
background-color: #cbe1ff;    
width: 1rem;
}

#close:hover {
cursor: pointer;    
color: red;
}


#file {
    font-size: 2rem;
    cursor: pointer;
    color: #1f2937;
  }

#personal-container {
    background-color: #1f2937;
}

@media (width < 750px) {
    nav .checkbox {
        display: flex;
        justify-content: end;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 73px); /* height of the navbar - to viewport */
        left: -100%; /* left hides content */
        top: 73px;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul {
        left: 0;
    }
}